aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.6.2
api-display-purposes==0.0.3
APScheduler==3.10.1
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
beautifulsoup4==4.11.2
blis==0.7.9
boto3==1.26.100
botocore==1.29.100
cachetools==5.3.0
catalogue==2.0.8
certifi==2021.5.30
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.1.0
clarifai==9.2.0
clarifai-grpc==9.2.0
cleantext==1.1.4
click==8.1.3
colorama==0.4.4
comtypes==1.1.14
confection==0.0.4
configparser==5.0.2
crayons==0.4.0
cryptography==40.0.1
cymem==2.0.7
decorator==4.4.2
dill==0.3.6
discord.py==2.2.2
distlib==0.3.6
EasyProcess==1.1
emoji==1.2.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
et-xmlfile==1.1.0
exceptiongroup==1.1.1
filelock==3.9.0
Flask==2.2.3
frozenlist==1.3.3
future==0.18.3
google-api-core==2.11.0
google-api-python-client==2.82.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.59.0
greenlet==2.0.1
grpcio==1.51.3
gTTS==2.3.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.16.3
httplib2==0.22.0
httpx==0.23.3
huepy==1.2.1
huggingface-hub==0.13.3
hyperframe==6.0.1
idna==2.10
imageio==2.26.1
imageio-ffmpeg==0.4.8
iniconfig==2.0.0
instabot==0.117.0
instagram-private-api==1.6.0.0
instaloader==4.9.6
instapy==0.6.16
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonschema==2.6.0
langcodes==3.3.0
lxml==4.9.2
markdown-it-py==2.2.0
MarkupSafe==2.1.2
mdurl==0.1.2
MeaningCloud-python==2.0.0
mock==5.0.1
moviepy==1.0.3
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.14
murmurhash==1.0.9
networkx==3.0
nltk==3.8.1
numpy==1.24.2
oauthlib==3.2.2
openai==0.27.2
openpyxl==3.1.2
outcome==1.2.0
packaging==23.0
pathos==0.3.0
pathy==0.10.1
Pillow==9.4.0
pipenv==2023.2.18
platformdirs==3.1.1
playwright==1.32.0
pluggy==1.0.0
plyer==2.1.0
pox==0.3.2
ppft==1.7.6.6
praw==7.7.0
prawcore==2.3.0
preshed==3.0.8
proglog==0.1.10
protobuf==3.20.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.10.7
pyee==9.0.4
PyExecJS==1.5.1
Pygments==2.14.0
pyparsing==3.0.9
pypiwin32==223
PySocks==1.7.1
pytest==7.2.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-telegram-bot==20.1
pyttsx3==2.90
pytube==12.1.3
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pywin32==306
PyYAML==6.0
regex==2023.3.23
requests==2.25.1
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
responses==0.23.1
rfc3986==1.5.0
rich==13.3.3
rsa==4.9
s3transfer==0.6.0
schedule==1.1.0
selenium==3.141.0
semantic-version==2.10.0
setuptools-rust==1.5.2
six==1.16.0
SkPy==0.10.4
slack-sdk==3.20.2
smart-open==6.3.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
spacy==3.5.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.6
sympy==1.11.1
thinc==8.1.9
tokenizers==0.13.2
toml==0.10.2
torch==2.0.0
tqdm==4.65.0
transformers==4.27.3
translators==5.6.3
trio==0.22.0
trio-websocket==0.10.2
typer==0.7.0
types-PyYAML==6.0.12.8
typing_extensions==4.5.0
tzdata==2022.7
tzlocal==4.2
update-checker==0.18.0
uritemplate==4.1.1
urllib3==1.26.5
virtualenv==20.20.0
virtualenv-clone==0.5.7
wasabi==1.1.1
webdriver-manager==3.4.2
webdriverdownloader==1.1.0.3
websocket-client==1.5.1
Werkzeug==2.2.3
wsproto==1.2.0
yarl==1.8.2
